/*
    Globals
*/

body {
    /* font-family: 'Lato', sans-serif; */
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #000000;
    text-decoration: none;
}

h1,
h2,
h3 {
    font-weight: bold;
    color: #ffffff;
}

h1 {
    font-size: 32px;
}

time {
    color: #ffffff;
}


/*
layout
*/

.container {
    width: 100%;
    /* Para que sirve esta funcion????? */
    max-width: 960px;
    margin: auto;
}


/*
Header
*/

header {
    background-color: #62346f;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

header .menu_p {
    display: flex;
}

header nav {
    display: flex;
    margin-left: 90px;
    align-items: center;
}

header ul {
    display: flex;
}

header li {
    margin-left: 30px;
}

header a {
    color: #ffffff;
    text-decoration: none;
}


/* 
recuadro cajas de noticias
(text_cont) 
*/

.text_cont {
    position: relative;
    width: 100%;
    height: 100%;
}

.text_cont h1,
.text_cont h3,
.text_cont a,
.text_cont time,
.text_cont ul {
    position: absolute;
}

.text_cont h1,
.text_cont h3 {
    top: 0;
    left: 0;
}

.text_cont time {
    bottom: 0;
    left: 0;
}

.text_cont a {
    top: 0;
    right: 0;
}

.text_cont ul {
    bottom: 0;
    left: 0;
}


/*
Main
*/

main {
    padding: 20px 0;
}

main a {
    background-color: white;
    border-radius: 8;
    width: 54px;
    height: 20px;
}

main .primera_plana {
    display: flex;
    justify-content: space-between;
}

article {
    position: relative;
}


/* article figure {
    position: relative;
} */

main .text {
    position: absolute;
    background: rgba(0, 0, 0, .5);
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    padding: 10px;
}

main .terceros {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}


/*
 Footer
*/

footer {
    background: #62346f;
    height: 80px;
}

footer .container {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    align-items: center;
}

footer small {
    color: #ffffff
}

px